<div class="sidebar">
  <div class="logo"></div>
  <div class="container sidebar-sticky">

        <div class="textbox">
                <h1>Steven Van Acker</h1>
                <div class="indentbox">
					<!--
			<div class="links">
				  <A href="http://www.chalmers.se/cse/EN">Department of Computer Science and Engineering</A><br>
				  <A href="http://www.chalmers.se/">Chalmers University of Technology</A><br>
				  <A href="http://www.gu.se/">Gothenburg University</A><br>
			</div>
					-->
			<div class="contact">
				E-mail: steven AT singularity DOT be<br>
				Gothenburg, Sweden<br>
			</div>
                </div>
        </div>

    <nav class="sidebar-nav">


      <hr>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

      {% assign pages_list = site.pages | sort: 'rank' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.sidebar %}
	    {% unless node.undersep %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
	    {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr>
      <a class="sidebar-nav-item{% if page.url == "/blog/" %} active{% endif %}" href="/blog/">Blog</a>

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.sidebar %}
	    {% if node.undersep %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
